body {
    font-family: 'Latto', sans-serif;
    background-color: #000000;
}

.machineContainer {
    position: relative;
    width: 440px;
    height: 440px;
    margin: 0 auto;
    margin-top: 150px;
    border: solid 2px white;
    border-radius: 50%;
    background-color: grey;
}

.fourButtons {
    position: absolute;
    width: 190px;
    height: 190px;
    margin: 20px;
}

.fourButtons:active {
    opacity: 5;
}

#blueButton {
    top: 0;
    left: 0;
    background-color: blue;
    border-radius: 100% 0 0 0;
}

#greenButton {
    top: 0;
    right: 0;
    background-color: green;
    border-radius: 0 100% 0 0;
}

#redButton {
    bottom: 0;
    left: 0;
    background-color: red;
    border-radius: 0 0 0 100%;
}

#yellowButton {
    bottom: 0;
    right: 0;
    background-color: yellow;
    border-radius: 0 0 100% 0;
}

#middle {
    position: absolute;
    background-color: #fff;
    border: 20px solid grey;
    width: 200px;
    height: 200px;
    top: 120px;
    left: 120px;
    border-radius: 50%;
}

#title {
    height: 70px;
    line-height: 90px;
    width: 100%;
    text-align: center;
    font-size: 45px;
    color: #000000; 
}

#moveCounter {
    display: inline-block;
    height: 50px;
    width: 50px;
    vertical-align: top;
}

#moveDisplay {
    border: solid 2px #000; 
    border-radius: 20%;
    height: 50%;
    margin: 0px 6px 0px 6px;
    background-color: orange;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
}

#moveText {
    height: 30%;
    margin: 4px 6px 0px 6px;
    font-size: 11px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

#textDisplay {
    opacity: 1;
}

#startBox {
    display: inline-block;
    height: 50px;
    width: 50px;
    vertical-align: top;
}

#startButton {
    border: solid 2px #000;
    border-radius: 50%;
    height: 50%;
    margin: 0px 12px 0px 12px;
    background-color: orange;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
}

#startText {
    height: 30%;
    margin: 4px 6px 0px 6px;
    font-size: 11px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

#oneLifeBox {
    display: inline-block;
    height: 50px;
    width: 50px;
    vertical-align: top;
}

#oneLifeButton {
    border: solid 2px #000;
    border-radius: 50%;
    height: 50%;
    margin: 0px 12px 0px 12px;
    background-color: red;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
}

#oneLifeText {
    height: 30%;
    margin: 4px 6px 0px 6px;
    font-size: 11px;
    color: #000;
    font-weight: bold;
    text-align: center;
}