body {
    font-family: 'Latto', sans-serif;
    background-color: #000000;
}

.machineContainer {
    position: relative;
    width: 440px;
    height: 440px;
    margin: 0 auto;
    margin-top: 150px;
    border: solid 2px white;
    border-radius: 50%;
    background-color: grey;
}

.fourButtons {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 20px;
}